<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home | pdf2image</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='folder.png') }}">
</head>
<body>
	<h1>Welcome to image to pdf converter</h1>
	<hr>
	<h2>Upload Here!</h2>
	<form action="/file" method="POST" enctype="multipart/form-data">
		<input type="file" name='images' required><br>
		<button type="submit">Upload</button>
	</form>
</body>
</html>